<h1 class="ml-[5rem] mt-5 text-lg font-semibold text-gray-800">ShoeCycle</h1>
    <div id="carousel" class="relative ml-[5rem] h-[800px] overflow-hidden ">
      <div id="list" class="absolute top-0 w-[1140px] max-w-[90%] left-1/2 -translate-x-1/2 h-4/5">
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm transform -translate-x-full -translate-y-[5%] scale-150 filter blur-[30px] z-[11] opacity-0 pointer-events-none">
          <img src="images/s1.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm transform translate-x-0 translate-y-0 filter blur-0 z-10 opacity-100">
          <img src="images/s2.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-100 pointer-events-auto transition-opacity duration-500">
            <div id="title" class="animate-show-content text-2xl leading-3 opacity-0">
              DESIGN SLIDER
            </div>
            <div id="topic" class="animate-show-content text-4xl font-medium opacity-0" style="animation-delay: 900ms;">
              SEPATU
            </div>
            <div id="des" class="animate-show-content text-sm opacity-0" style="animation-delay: 1100ms;">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="animate-show-content bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2 opacity-0" style="animation-delay: 1300ms;">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="animate-show-content text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="animate-show-content text-sm opacity-0" style="animation-delay: 1100ms;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm transform translate-x-1/2 translate-y-[10%] scale-[0.8] filter blur-[10px] z-[9] opacity-100">
          <img src="images/s3.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm transform translate-x-[90%] translate-y-[20%] scale-50 filter blur-[30px] opacity-100 z-[8]">
          <img src="images/s4.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm transform translate-x-[120%] translate-y-[30%] scale-[0.3] filter blur-[40px] opacity-0 z-[7] pointer-events-none">
          <img src="images/s5.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm opacity-0 pointer-events-none">
          <img src="images/s6.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
        <div id="item" class="absolute left-0 top-0 w-[70%] h-full text-sm opacity-0 pointer-events-none">
          <img src="images/s7.png" alt="" class="absolute w-1/2 right-0 top-1/2 -translate-y-1/2">
          <div id="intro" class="absolute top-1/2 -translate-y-1/2 w-[400px] opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              DESIGN SLIDER
            </div>
            <div id="topic" class="text-4xl font-medium">
              SEPATU
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti.
            </div>
            <button id="seeMore" class="bg-transparent border-0 border-b border-b-gray-500 font-sans font-bold mt-5 py-2">
              see more &#8599
            </button>
          </div>
          <div id="detail" class="opacity-0 pointer-events-none">
            <div id="title" class="text-2xl leading-3">
              Sepatu Pria Oxford Casual Kulit
            </div>
            <div id="des" class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?
            </div>
            <div id="specifications">
              <div>
                <p>Bahan</p>
                <p>Kulit</p>
              </div>
              <div>
                <p>Keadaan</p>
                <p>Mulus</p>
              </div>
              <div>
                <p>Warna</p>
                <p>Hitam</p>
              </div>
              <div>
                <p>Ukuran</p>
                <p>39</p>
              </div>
            </div>
            <div id="checkout">
              <button>Keranjang</button>
              <button>Beli</button>
            </div>
          </div>
        </div>
      </div>
      <div id="arrows" class="absolute bottom-2.5 w-[1140px] max-w-[90%] left-2/4 transform -translate-x-1/2 flex justify-between items-center">
        <button id="prev" class="w-10 h-10 rounded-full font-mono text-lg font-bold border border-gray-500"><</button>
        <button id="back" class="font-sans font-medium border-0 border-b border-gray-500 tracking-2px bg-transparent opacity-0 pointer-events-none">Go back &#8599</button>
        <button id="next" class="w-10 h-10 rounded-full font-mono text-lg font-bold border border-gray-500">></button>
      </div>
    </div>

<script type="text/javascript">
  let nextButton = document.getElementById('next');
  let prevButton = document.getElementById('prev');
  let backButton = document.getElementById('back');
  let seeMoreButton = document.querySelectorAll('.seeMore');
  let corousel = document.querySelectorAll('.corousel');
  let listHTML = document.querySelectorAll('.corousel .list');

  nextButton.onclick = function(){
    showSlider('next');    
  }
  prevButton.onclick = function(){
    showSlider('prev');
  }
  const showSlider = (type) => {
    let items = document.querySelectorAll('.corousel .list .item');
    if(type === 'next'){
      listHTML.appendChild(items[0]);
    }
  }
</script>